/* Variables */
:root {
    /* Colors */
    --primary-color: rgb(10, 10, 10);
    --secondary-color: rgb(255, 244, 236);
    --accent-color: rgb(18, 207, 112);
    --text-color: seashell;
    --background: rgb(10, 10, 10);
}


/* Whole Page */
body {
    background-color: var(--background);
    font-family: "Helvetica", sans-serif;
}

/* Header */
header {
    display: flex;
    height: 69px;
    align-items: center;
    justify-content: space-between;
}

figure {
    padding-left: 10px;
    flex: 0 1 auto;
}

.logo {
    height: 50px;
    flex: 0 1 auto;
}


nav ul {
    display: inline-flex;
    flex-flow: row wrap;
    flex-flow: 1 1 120px;
    justify-content: space-between;
}

li {
    margin: 0 10px;
}

li a {
    color: var(--text-color);
    font-size: 22px;
}

/* Sections */
h2,
h4 {
    color: var(--text-color);
    font-family: "Helvetica", sans-serif;
}

.section-title {
    font-size: 40px;
    margin-bottom: 20px;
    
}

h4 {
    margin-top: 20px;
    font-size: 20px;
}

/* Our Mission */
#our-mission {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    margin: 0 auto;
    background-image: url('../assets/images/mission-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
}

.hero-text {
    background-color: var(--background);
    width: auto;
    text-align: center;
    flex-flow: 1 1 auto;
    align-items: center;
    padding: 0 300px;
}

/* Tea of the Month */
#tea-of-the-month {
    text-align: center;
    margin-bottom: 100px;
}

.tea-figures {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 1200px;
    flex-flow: 1 1 auto;
    justify-content: center;
}

.tea {
    text-align: center;
}

.tea img {
    max-height: 200px;
    max-width: 300px;
}

.tea figcaption {
    color: var(--text-color);
    font-family: "Helvetica", sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px auto;
}

/* Locations */

