/* Variables */
:root {
    /* Colors */
    --primary-color: rgb(10, 10, 10);
    --secondary-color: rgb(255, 244, 236);
    --accent-color: rgb(18, 207, 112);
    --text-color: seashell;
    --background: rgb(10, 10, 10);
}


/* Whole Page */
body {
    background-color: var(--background);
    font-family: "Helvetica", sans-serif;
}

/* Header */
header {
    display: flex;
    height: 69px;
    align-items: center;
    justify-content: space-between;
}

figure {
    padding-left: 10px;
    flex: 0 1 auto;
}

.logo {
    height: 50px;
    flex: 0 1 auto;
}


nav ul {
    display: inline-flex;
    flex-flow: row wrap;
    flex-flow: 1 1 120px;
    justify-content: space-between;
}

li {
    margin: 0 10px;
}

li a {
    color: var(--text-color);
    font-size: 22px;
}

/* Sections */
#our-mission {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-image: url('../assets/images/mission-background.jpg');
    background-repeat: no-repeat;
}

.hero-text {
    background-color: var(--background);
    width: 100%;
    text-align: center;
    flex-flow: 1 1 auto;
}

h2,
h4 {
    color: var(--text-color);
    font-family: "Helvetica", sans-serif;
}

.section-title {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

